# Manejo de JSON en Python

### Importar JSON y cargar un archivo

In [1]:

# Import the json lib
import json

# Opening JSON file
json_file = open('characters_items.json')

# Load file as JSON data
json_data = json.load(json_file)

### Selección de datos

In [2]:
# Print first 10 of loaded JSON
for i in json_data[:5]:
    print(i)

{'id': 1, 'username': 'ccaush0', 'class': 'Hero', 'level': 33, 'hp': 58, 'inventory': [{'id': 1, 'item_name': 'Lapis', 'price': 87755, 'rarity': 5, 'type': 'Map', 'atk': 0, 'def': 0, 'hp_regen': 0}]}
{'id': 2, 'username': 'egotfrey1', 'class': 'Theif', 'level': 76, 'hp': 85, 'inventory': [{'id': 1, 'item_name': 'Seed', 'price': 51954, 'rarity': 5, 'type': 'Bow', 'atk': 245, 'def': 0, 'hp_regen': 0}, {'id': 2, 'item_name': 'Energy Typhoon', 'price': 209213, 'rarity': 3, 'type': 'Key', 'atk': 0, 'def': 0, 'hp_regen': 0}, {'id': 3, 'item_name': 'Dinoblade', 'price': 103290, 'rarity': 1, 'type': 'Map', 'atk': 0, 'def': 0, 'hp_regen': 0}, {'id': 4, 'item_name': 'Energy Typhoon', 'price': 251727, 'rarity': 4, 'type': 'Key', 'atk': 0, 'def': 0, 'hp_regen': 0}, {'id': 5, 'item_name': 'Extortion of Vulnerabilities', 'price': 221274, 'rarity': 4, 'type': 'Gem', 'atk': 0, 'def': 0, 'hp_regen': 0}]}
{'id': 3, 'username': 'umacnalley2', 'class': 'Spellcaster', 'level': 54, 'hp': 126, 'inventory': [{'id': 1, 'item_name': 'Dinoblade', 'price': 106877, 'rarity': 1, 'type': 'Key', 'atk': 0, 'def': 0, 'hp_regen': 0}, {'id': 2, 'item_name': 'Energy Typhoon', 'price': 63209, 'rarity': 1, 'type': 'Cape', 'atk': 0, 'def': 202, 'hp_regen': 0}, {'id': 3, 'item_name': 'Stone Arm', 'price': 81351, 'rarity': 3, 'type': 'Armor', 'atk': 0, 'def': 0, 'hp_regen': 0}]}
{'id': 4, 'username': 'cstribbling3', 'class': 'Blade Dancer', 'level': 67, 'hp': 153, 'inventory': [{'id': 1, 'item_name': 'Silver Sword', 'price': 15535, 'rarity': 5, 'type': 'Gem', 'atk': 0, 'def': 0, 'hp_regen': 0}, {'id': 2, 'item_name': 'Potion', 'price': 122947, 'rarity': 1, 'type': 'Shield', 'atk': 0, 'def': 129, 'hp_regen': 0}, {'id': 3, 'item_name': '', 'price': 82939, 'rarity': 5, 'type': 'Beer', 'atk': 0, 'def': 0, 'hp_regen': 21}]}
{'id': 5, 'username': 'bmaunders4', 'class': 'Viking', 'level': 14, 'hp': 142, 'inventory': []}

In [3]:
# Print first 10 character.inventory of loaded JSON
for i in json_data[:5]:
    print(i['inventory'])

[{'id': 1, 'item_name': 'Lapis', 'price': 87755, 'rarity': 5, 'type': 'Map', 'atk': 0, 'def': 0, 'hp_regen': 0}]
[{'id': 1, 'item_name': 'Seed', 'price': 51954, 'rarity': 5, 'type': 'Bow', 'atk': 245, 'def': 0, 'hp_regen': 0}, {'id': 2, 'item_name': 'Energy Typhoon', 'price': 209213, 'rarity': 3, 'type': 'Key', 'atk': 0, 'def': 0, 'hp_regen': 0}, {'id': 3, 'item_name': 'Dinoblade', 'price': 103290, 'rarity': 1, 'type': 'Map', 'atk': 0, 'def': 0, 'hp_regen': 0}, {'id': 4, 'item_name': 'Energy Typhoon', 'price': 251727, 'rarity': 4, 'type': 'Key', 'atk': 0, 'def': 0, 'hp_regen': 0}, {'id': 5, 'item_name': 'Extortion of Vulnerabilities', 'price': 221274, 'rarity': 4, 'type': 'Gem', 'atk': 0, 'def': 0, 'hp_regen': 0}]
[{'id': 1, 'item_name': 'Dinoblade', 'price': 106877, 'rarity': 1, 'type': 'Key', 'atk': 0, 'def': 0, 'hp_regen': 0}, {'id': 2, 'item_name': 'Energy Typhoon', 'price': 63209, 'rarity': 1, 'type': 'Cape', 'atk': 0, 'def': 202, 'hp_regen': 0}, {'id': 3, 'item_name': 'Stone Arm', 'price': 81351, 'rarity': 3, 'type': 'Armor', 'atk': 0, 'def': 0, 'hp_regen': 0}]
[{'id': 1, 'item_name': 'Silver Sword', 'price': 15535, 'rarity': 5, 'type': 'Gem', 'atk': 0, 'def': 0, 'hp_regen': 0}, {'id': 2, 'item_name': 'Potion', 'price': 122947, 'rarity': 1, 'type': 'Shield', 'atk': 0, 'def': 129, 'hp_regen': 0}, {'id': 3, 'item_name': '', 'price': 82939, 'rarity': 5, 'type': 'Beer', 'atk': 0, 'def': 0, 'hp_regen': 21}]
[]

In [4]:
# Print first 10 character.inventory of loaded JSON
for i in json_data[:5]:
    print('\nUsername: ' + i['username'] + ' - ' + i['class'] )
    print('Inventory:')
    for j in i['inventory']:
        print('- ' + j['item_name'])

Username: ccaush0 - Hero
Inventory:
- Lapis

Username: egotfrey1 - Theif
Inventory:
- Seed
- Energy Typhoon
- Dinoblade
- Energy Typhoon
- Extortion of Vulnerabilities

Username: umacnalley2 - Spellcaster
Inventory:
- Dinoblade
- Energy Typhoon
- Stone Arm

Username: cstribbling3 - Blade Dancer
Inventory:
- Silver Sword
- Potion
-

Username: bmaunders4 - Viking
Inventory:

# Convertir JSON a CSV

### Importar pandas y cargar archivo

In [5]:
# Import Pandas and Display
import pandas as pd
from IPython.display import display

# Load JSON and save as CSV
dataframe = pd.read_json (r'characters_items.json')
dataframe.to_csv(r'characters_items.csv', index = None)

### Leer y mostrar CSV

In [6]:
csv_file = pd.read_csv(r'characters_items.csv')
display(csv_file)

,id,username,class,level,hp,inventory
0,1,ccaush0,Hero,33,58,"[{'id': 1, 'item_name': 'Lapis', 'price': 8775..."
1,2,egotfrey1,Theif,76,85,"[{'id': 1, 'item_name': 'Seed', 'price': 51954..."
2,3,umacnalley2,Spellcaster,54,126,"[{'id': 1, 'item_name': 'Dinoblade', 'price': ..."
3,4,cstribbling3,Blade Dancer,67,153,"[{'id': 1, 'item_name': 'Silver Sword', 'price..."
4,5,bmaunders4,Viking,14,142,[]
...,...,...,...,...,...,...
995,996,lbeadern,Paladin,8,34,"[{'id': 1, 'item_name': 'Slasher', 'price': 10..."
996,997,ppennellsro,Hero,51,194,[]
997,998,chaukeyrp,Druid,4,75,"[{'id': 1, 'item_name': 'Mop', 'price': 194578..."
998,999,tperrettrq,Bard,19,30,"[{'id': 1, 'item_name': 'Elixir', 'price': 175..."
999,1000,owildishrr,Paladin,12,27,"[{'id': 1, 'item_name': 'Extinguish', 'price':..."